{% extends 'IPSSymfonyProjectBundle::base.html.twig' %}
{% block content%}
</br>
<p>My tasks to do!! green are done, red get to work</p>
    {% for mytask in mytasks%}
    </br>
    <div style="width:60%;margin:auto;">
        
        {% if mytask.STATUT==100 %}
        <a href="/show/task/{{mytask.ID}}"><button class="btn btn-success btn-lg btn-block">{{mytask.NAME}}</button></a>
        {% else %}
        <a href="/show/task/{{mytask.ID}}"><button class="btn btn-danger btn-lg btn-block">{{mytask.NAME}}</button></a>
        {% endif %}
    </div>
    {%endfor%}
{% endblock %}